@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-rubik);
  --color-primary: hsl(224 76% 59%);
  --color-secondary: hsl(60 2% 13%);
}

:root {
  --radius: 0.625rem;
  --background: 0 0% 100%;
  --foreground: 60 2% 13%;
}

.dark {
  --background: 240 10% 6%;
  --foreground: 0 0% 100%;
}